*{
    margin: 0;
    padding: 0;
}
.cont h4{
margin: 5px;
color: aliceblue;
font-family: sans-serif;
}
.cont p{
    margin: 0px;
    padding: 0px;
}

.hero h4{
    margin: 5px;
    color: aliceblue;
    font-family: sans-serif;
}
.hero ul li{
    padding: 0px;
    margin: 0px;
}
.hero1 h4{
    margin: 5px;
    color: aliceblue;
    font-family: sans-serif;
}
.hero1 ul li{
    padding: 0px;
    margin: 0px;
}
.hero3 h4{
    margin: 5px;
    color: aliceblue;
    font-family: sans-serif;
}
.hero3 ul li{
    padding: 0px;
    margin: 0px;
}
.hero4 h4{
    margin: 5px;
    color: aliceblue;
    font-family: sans-serif;
}
.hero3 ul li{
    padding: 0px;
    margin: 0px;
}